<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title is defined ? title ~ ' · ' }}Multi-Channel</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.10/css/pico.min.css">
</head>
<body>
  <main class="container">
    {% include "_partials/header" %}
    <section>
      {% block content %}{% endblock %}
    </section>
    {% include "_partials/footer" %}
  </main>
</body>
</html>
